#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(138,77,2,1) 12.5%, rgba(188,173,1,1) 25%, rgba(65,255,0,1) 37.5%, rgba(2,122,123,1) 50%, rgba(2,22,147,1) 62.5%, rgba(83,2,84,0.9862385321100917) 75%, rgba(164,2,109,1) 87.5%, rgba(179,236,223,1) 100%);
}
